.direita {
    width: 50%;
    height: 700px;
    text-align: center;
    background-color: var(--white-alpha-25);
    backdrop-filter: var(--backdrop-filter-blur);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--white-alpha-40);
    border-radius: 30px;
    margin: 40px 0;
    padding: 25px;
    z-index: 3;
}